body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
}

/* Task bar implementation (row-structure) */
.task-bar {
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

/* Logo, search-bar and menu tab layout */
.left, .center, .right {
    flex: 1;
    display: flex;
    align-items: center;
}

.left {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.right {
    justify-content: flex-end;
}

.image-panel {
    align-items: center;
}

#image-about {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 500px;
}

.image-description {
    text-align: center;
}

#logo-image {
    width: 350px;
}

.genre-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 12px;
}

.genre-item {
    background: #1f2937;
    color: white;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #374151;
    font: inherit;
    outline: none;
}

.genre-item:hover {
    outline: 2px solid #60a5fa;
}

.search-wrapper {
    position: relative;
    width: 60%;
    max-width: 500px;
}

.search-wrapper input {
    width: 100%;
    padding: 10px 20px 14px 40px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.menu-btn {
    padding: 16px;
}

h1 {
    color: azure;
    padding: 30px;
    margin-top: 20px;
}

h2 {
    color: gray;
    padding: 30px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: azure;
}

#resultsContainer ul {
    list-style: none;
    padding: 0;
}

#resultsContainer li {
    padding: 8px;
}

#resultsContainer a {
    text-decoration: none;
}

#resultsContainer li:hover {
    background: #f0f0f0;
}


.hero {
    /*upper half picture */
    height: 33vh;
    background-image: url("media/batman.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.marquee {
    overflow: hidden;
    width: 100%;
}

.marquee-track {
    display: flex;
    width: max-content;
    animation: scroll 55s linear infinite;
}

.marquee-track img {
    height: 240px;
    margin-right: 40px;
}

@keyframes scroll {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}