body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
}

/* Header */
.task-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

/* Logo */
#logo-image {
    height: 200px;
}

/* Search-bar */
.search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-container input {
    width: 60%;
    max-width: 500px;
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 15px;
}

.menu-btn {
    background: none;
    border: none;
    font-size: 25px;
    color: white;
    cursor: pointer;
}