body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
}

/* Task bar implementation (row-structure) */
.task-bar {
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

/* Logo, search-bar and menu tab layout */
.left, .center, .right {
    flex: 1;
    display: flex;
    align-items: center;
}
.left {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.right {
    justify-content: flex-end;
}

#logo-image {
    width: 200px;
}

.search-wrapper {
    position: relative;
    width: 60%;
    max-width: 500px;
}

.search-wrapper input {
    width: 100%;
    padding: 10px 20px 14px 40px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.menu-btn {
    padding: 12px;
}

h2 {
    color: gray;
    padding: 30px;
    margin-top: 40px;
}

