
.bottom-writer-bar{
     position: fixed;
     alignment-baseline: middle;
     bottom: 10px;     
}

.send-button{
     border-radius: 12px;    
     background-color: burlywood;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input-bar{
     border-radius: 10px;
     height: 50px;
     width: 500px;
     font-size: large;
}




.chat-area{
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: max-content;
}

.chat-bot{
     grid-template-columns: 1;
     grid-row: 1;
     display: flex;
     justify-content: left;
     border-radius: 20px;

     text-align: left;
     font-size: medium;
     font-weight: 490;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     background-color: rgba(250, 235, 215, 0.823);
}

.user-message{
     grid-column: 2;
     display: flex;
     justify-content: left;
     border-radius: 20px;

     text-align: right;
     font-size: medium;
     font-weight: 490;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     background-color: rgba(134, 230, 198, 0.536);
}

.prompt-bar{
     display: inline-table;
     justify-content: end;
}

